/* should make footer sticky */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.example {
  background-color: #648c9f !important;
  margin-top: 100px !important;
}