.brandColor {
    background-color: #648c9f !important;
}

.intro {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #b7b7b7;
}

.priceCards {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #b7b7b7;
}

.card-action {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-height: 50px;
    position: relative;
    bottom: 0% !important;
}

a {
    margin-right: 0px !important;
}